/*
.container {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 5%;
  top: 5%;
  transform: translate(-50%, -50%);

}
svg path, svg line {
    stroke: black;
    stroke-width: 6px;
    stroke-linecap: round;
    fill: none;
}
.trigger {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 5;
  top: 0;
  left: 0;
}


}
.container {
    user-select: none;
        cursor: pointer;
        height: 2rem;
        left: 2rem;
        position: fixed;
        top: 2rem;
        width: 3.6rem;
        z-index: 2;
}
.navigation {
    transition: left 0.5s ease;
    background: #28dde0;
    color: white;
    cursor: pointer;
    font-size: 2rem;
    height: 100vh;
    left: -23rem;
    padding: 6rem 2rem 2rem 2rem;
    position: fixed;
    top: 0;
    width: 20rem;
    z-index: 6;
}

.navigation.is-active {
    left: 5%;

} */


.main-item {
	width:150px;
	height:45px;
	position:relative;
    z-index: 7;
}

.line {
	position: absolute;
	height: 8px;
	width:30%;
	background:black;
	border-radius:10px;
	transition: all cubic-bezier(0.25, 0.1, 0.28, 1.54) 0.32s;
}

.line01 {
	top:19%;
}

.line02 {
	top:49%;
}

.line03 {
	top:79%;
}

.menu.close .line01 {
	transform:rotate(45deg);
	top:49%;
}

.menu.close .line02, .menu.close .line03 {
	transform:rotate(-45deg);
	top:49%;
}
.navigation {
    transition: left 0.5s ease;
    background: #28dde0;
    color: white;
    cursor: pointer;
    font-size: 2rem;
    height: 100vh;
    left: -25rem;
    padding: 6rem 2rem 2rem 2rem;
    position: fixed;
    top: 0;
    width: 20rem;
    z-index: 6;
    cursor: inherit;
}

.navigation.is-active {
    left: 0%;

}
a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}
ul {
    transform: translateY(-50%);
    list-style: none;
    margin-top: 60%;
    padding: 0;
}
